@use "../base" as *;

body {
  font-family: $fontFamily;
  background-color: $grey;
  color: $light-black;
  word-break: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  display: block;
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
}



