@use "../base" as *;

body {
  font-family: $fontFamily;
  background-color: $grey;
  color: $light-black;
  word-break: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  display: block;
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
}


// h1 {
// }
// h2 {
//   font-size: 72px;
//   line-height: 80px;
// }
// h3 {
//   font-size: 48px;
//   line-height: 56px;
// }
// h4 {
//   font-size: 36px;
//   line-height: 42px;
// }
// h5 {
//   font-size: 24px;
//   line-height: 26px;
// }
// h6 {
// }
// p {
// }
